body{
  background-color: #222222;
}
h1{
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 3rem;
  color: grey;
}
h3{
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: grey;
  opacity: 0.6;
}
h4{
  font-family: 'Rubik', sans-serif;
  font-size: 1.1;
  text-align: center;
  color: grey;
}
.disp{
    text-align: right;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}
.container-calc{
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.calculator{
  width: 25rem;
  height: 45rem;
  background: #EEEEEE;
  border-radius: 20px;
}
.keyboard{
  margin-bottom: 3rem;
}
.display input{
  font-family: 'Orbitron', sans-serif;
  cursor: grab;
  color: gray;
  background: #EEEEEE;
  text-align: right;
  width: 340px;
  height: 100px;
  font-size: 40px;
  border-radius: 20px;
  margin: 50px 40px;
  align-items: center;
  align-content: center;
  border: none;
}
.keyboard .row{
  text-align: center;
}
.keyboard button{
  font-family: 'Orbitron', sans-serif;
  width: 70px;
  height: 70px;
  font-size: 20px;
  margin: 10px;
  border-radius: 50%;
  color: grey;
  background: #EEEEEE;
  font-weight: bold;
  box-shadow: 6px 6px 16px 0 rgba(209, 205, 199, .5),
  -6px -6px 16px 0 rgba(255, 255, 255, .5);
  border: none;
}
button:active{
  box-shadow: inset -6px -6px 16px 0 rgba(255, 255, 255, .5), inset 6px 6px 16px 0 rgba(209, 205, 199, .5) ;
}
.keyboard .operator{
  color: crimson;
  font-weight: 700;
  font-size: 1.5rem;
}
.display-calc{
  margin: 2rem ;
  margin-top: 5.5rem
}
.title{
  box-shadow: 6px 6px 16px 0 rgba(209, 205, 199, .5),
  -6px -6px 16px 0 rgba(255, 255, 255, .5);
  padding: .5rem;
  margin: 0 2rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.footer{
  color: grey;
  margin-bottom: 1rem;
}
.footer a{
  color: #EEEEEE;
}
@media (max-width: 576px){
  .calculator-app{
    justify-content: center;
  }
  .container-calc{
    display: flex;
    justify-content: center;
  }
  .display-calc{
/*    margin: 2rem ;*/
    margin-top: 5.5rem;
  }
  h1{
    text-align: center;
    font-size:2rem;
    color: grey;
  }
  h3{
    font-size: 1.5rem;
    text-align: center;
    color: grey;
  }
  h4{
    font-size: 1rem;
    text-align: center;
    color: grey;
  }
  .disp{
    text-align: right;
    word-wrap: break-word;
}
  .calculator{
    width: 100vw;
    height: 80vh;
    background: #EEEEEE;
    border-radius: 20px;
  }
  .keyboard button{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.1rem;
    margin: .5rem;
    border-radius: 50%;
    color: grey;
    background: #EEEEEE;
    font-weight: bold;
    box-shadow: 4px 4px 12px 0 rgba(209, 205, 199, .5),
    -4px -4px 12px 0 rgba(255, 255, 255, .5);
  }
  .display input{
    cursor: grab;
    color: gray;
    background: #EEEEEE;
    text-align: right;
    width: 220px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin: 30px 25px;
    align-items: center;
    align-content: center;
  }
  .keyboard{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .calculator-app{
    margin-top:3rem;
  }
}